<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K - Cooking Class</title>
<th:block layout:fragment="custom_css">
	<style>
		
	</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="content">
		<!-- Section Header : S -->
		<div class="section section-header" style="height: 250px;">
			<div class="parallax filter filter-color-black" style="height: 100%;">
	            <div class="image">
	            </div>
	            <div class="container">
	                <div class="content">
	                    <div class="title-area">
	                        <h1 class="title-modern">Happy Recipe K</h1>
	                        <p>Healing & Funny Cooing Class - Happy Recipe K</p>
	                        <div class="separator line-separator">♦</div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1 id="">Cooking Class Join</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4" th:each="class : ${classInfo}">
						<div style="width: 100%;">
							<img th:src="${class.fileInfo.commonFileThumbWebUrl}+${class.fileInfo.commonFileCopyName}" alt="" style="width: 100%;">
						</div>
						<div style="width: 100%;">
							<span th:utext="${class.classContent}"></span>
						</div>
						<table class="table" th:each="classDate : ${class.classDateManage}">
							<tr>
								<th colspan="2">
									<span th:text="${#strings.abbreviate(class.classTitle, 25)}"></span>	
								</th>
							</tr>
							<tr>
								<th>
									<span class="glyphicon glyphicon-calendar"></span>
									<span>Start Day : </span>
								</th>
								<td>
									<span th:text="${classDate.classStartDay}"></span>
								</td>
							</tr>
							<tr>
								<th>
									<span class="glyphicon glyphicon-dashboard"></span>
									<span>Start Time : </span>
								</th>
								<td>
									<span th:text="${classDate.classStartDay}"></span>
								</td>
							</tr>
							<tr>
								<th>
									<span>Max Member : </span>
								</th>
								<td>
									<span th:text="${class.classMaxMember}"></span>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-md-4">
						<form th:action="@{/cooking/classJoin}"  id="joinForm" method="POST">
							<div class="input-group">
								<h3>Class Join Form</h3>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input type="text" class="form-control" name="joinName" placeholder="Name ex:(홍길동)" id="joinName">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								<input type="text" class="form-control" name="joinPhone" placeholder="Phone ex:(010-0000-0000)" id="joinPhone">
							</div>
						</form>
						<div class="input-group">
							<button class="btn btn-primary" id="classJoin">Join</button>
							<button class="btn btn-default" id="classCancle">Cancle</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
		<script>
			$(document).ready(function(){
				var regExp = /^\d{3}-\d{3,4}-\d{4}$/;
				$("#classJoin").on("click", function(){
					if($("#joinName").val() == ""){
						alert("Empty Name");
						$("#joinName").focus();
						return false;
					}else if($("#joinName").val().length < 2){
						alert("Wrong Name");
						$("#joinName").focus();
					}else if($("#joinPhone").val() == ""){
						alert("Empty Phone");
						$("#joinPhone").focus();
						return false;
					}else if(!regExp.test($("#joinPhone").val())){
						alert("Wrong Phone Number\r\n000-0000-0000");
						$("#joinPhone").focus();
						return false;
					}else{
						$("#joinForm").submit();
					}
				});
				$("#classCancle").on("click", function(){
					$("#joinForm")[0].reset();
				});
			});
		</script>
	</th:block>
</body>
</html>