<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K</title>
<th:block layout:fragment="custom_css">

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				About - Happy Recipe K
			</div>
			<div class="col-md-12">
				<div class="col-md-2">
					<div style="height: 300px">
						media 1
					</div>
					<div>
						media 1 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 2
					</div>
					<div>
						media 2 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 3
					</div>
					<div>
						media 3 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 4
					</div>
					<div>
						media 4 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 5
					</div>
					<div>
						media 5 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 6
					</div>
					<div>
						media 6 title
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				What make
			</div>
			<div class="col-md-12">
				<div class="col-md-2">
					<div style="height: 300px">
						media 1
					</div>
					<div>
						media 1 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 2
					</div>
					<div>
						media 2 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 3
					</div>
					<div>
						media 3 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 4
					</div>
					<div>
						media 4 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 5
					</div>
					<div>
						media 5 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 6
					</div>
					<div>
						media 6 title
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				Cooking Class
			</div>
			<div class="col-md-12">
				<div class="col-md-2">
					<div style="height: 300px">
						media 1
					</div>
					<div>
						media 1 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 2
					</div>
					<div>
						media 2 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 3
					</div>
					<div>
						media 3 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 4
					</div>
					<div>
						media 4 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 5
					</div>
					<div>
						media 5 title
					</div>
				</div>
				<div class="col-md-2">
					<div style="height: 300px">
						media 6
					</div>
					<div>
						media 6 title
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
	</th:block>
	<!-- Custom Script  : E -->
</body>
</html>