<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K</title>
<th:block layout:fragment="custom_css">

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				Happy Recipe K - Media
			</div>
			<div class="col-md-12">
				<div class="col-md-2" th:each="media : ${medium}">
					<div style="height: 300px">
						<a th:href="@{/content/}+${media.categoryLowCode}+'/'+${media.contentSeq}">
							<img th:src="${media.fileInfo.commonFileThumbWebUrl}+${media.fileInfo.commonFileCopyName}" style="width: 100%;height: 100%;"/>
						</a>
					</div>
					<div>
						<h5><a th:href="@{/content/}+${media.categoryLowCode}+'/'+${media.contentSeq}" th:text="${#strings.abbreviate(media.contentTitle, 20)}"></a></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				Happy Recipe K - Cooking Class
			</div>
			<div class="col-md-12">
				<div class="col-md-2" th:each="cooking : ${cookings}">
					<div style="height: 300px">
						<a th:href="@{/content/}+${cooking.categoryLowCode}+'/'+${cooking.contentSeq}">
							<img th:src="${cooking.fileInfo.commonFileThumbWebUrl}+${cooking.fileInfo.commonFileCopyName}" style="width: 100%;height: 100%;"/>
						</a>
					</div>
					<div>
						<h5><a th:href="@{/content/}+${cooking.categoryLowCode}+'/'+${cooking.contentSeq}" th:text="${#strings.abbreviate(cooking.contentTitle, 20)}"></a></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				Happy Recipe k - Blog
			</div>
			<div class="col-md-12">
				<div class="col-md-2" th:each="blog : ${blogs}">
					<div style="height: 300px">
						<a th:href="@{/content/}+${blog.categoryLowCode}+'/'+${blog.contentSeq}">
							<img th:src="${blog.fileInfo.commonFileThumbWebUrl}+${blog.fileInfo.commonFileCopyName}" style="width: 100%;height: 100%;"/>
						</a>
					</div>
					<div>
						<h5><a th:href="@{/content/}+${blog.categoryLowCode}+'/'+${blog.contentSeq}" th:text="${#strings.abbreviate(blog.contentTitle, 20)}"></a></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
	</th:block>
	<!-- Custom Script  : E -->
</body>
</html>