<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/admin/pc/default">
<head>
<title>Happy Recipe K - Administrator Contnets Add Page</title>
<th:block layout:fragment="custom_css">
</th:block>
</head>
<body>
	<div layout:fragment="content" class="content">
		<form th:action="@{/admin/content/addContentProc}" method="POST" enctype="multipart/form-data" th:object="${content}" role="form">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
							<h1 th:text="#{content_title_text}"></h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading"><h5 th:text="#{content_category_bar}"></h5></div>
						<div class="panel-body">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon" th:text="#{content_select_parent}"></span>
										<select class="form-control">
											<option>선택</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon" th:text="#{content_select_child}"></span>
										<select class="form-control">
											<option>선택</option>
										</select>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading"><h5 th:text="#{content_title_bar}"></h5>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<div class="input-group">
									<span class="input-group-addon" th:text="#{content_title_bar}"></span>
									<input type="text" class="form-control" name="contentTitle">
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading"><h5 th:text="#{content_thumbnail_bar}"></h5></div>
						<div class="panel-body">
							<div class="col-md-12">
								<div class="input-group">
									<span class="input-group-addon" th:text="#{content_thumbnail_image}"></span>
									<input type="file" class="form-control" id="input_title_image" name="imageFile">
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h5 th:text="#{youtube}"></h5>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<textarea name="contentYoutube"></textarea>
							</div>
						</div>
						<div class="panel-heading">
							<h5 th:text="#{contents}"></h5>
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<textarea name="contentOther"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-success">
						<div class="panel-heading">
							Content Display On/Off
						</div>
						<div class="panel-body">
							<div class="col-md-12">
								<div id="radioBtn" class="btn-group">
			    					<a class="btn btn-primary btn-sm active" data-toggle="main_display_yn" data-title="Y">YES</a>
			    					<a class="btn btn-primary btn-sm notActive" data-toggle="main_display_yn" data-title="N">NO</a>
			    				</div>
		    					<input type="hidden" name="displayYn" id="main_display_yn" value="Y">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 align-right">
						<button type="button" class="btn btn-primary pull-right" onclick="submit()">Done</button>
						<button type="button" class="btn btn-danger pull-right">Cancle</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block layout:fragment="custom_script">
		<script src="/assets/ckeditor/ckeditor.js"></script>
		<script>
			/* 
			* Ckeditor : S
			*/
			CKEDITOR.replace(
				'contentYoutube',
				{
					filebrowserUploadUrl:'/ckeditor/imageUpload'
				}
			);
			CKEDITOR.replace(
				'contentOther',
				{
					filebrowserUploadUrl:'/ckeditor/imageUpload'
				}
			);
			/* 
			* Ckeditor : E
			*/
			
			function readImageUrl(input){
				if(input.files && input.files[0]){
					var reader = new FileReader();
					
					reader.onload = function(e){
						$("#title_image_selecte").attr("src", e.target.result);
					}
					reader.readAsDataURL(input.files[0]);
				}
			}
			/* 
			* Image Preview : E
			*/
			
			
			
			/* 
			* Document Ready Area : S
			*/
			$(document).ready(function(){
				$("#input_title_image").on("change", function(){
					readImageUrl(this);
				});
			});
			/* 
			* Document Ready Area : E
			*/
			
			/* 
			* Radio Button Controller : S
			*/
			$('#radioBtn a').on('click', function(){
			    var sel = $(this).data('title');
			    var tog = $(this).data('toggle');
			    $('#'+tog).prop('value', sel);
			    
			    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
			    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
			});
			/* 
			* Radio Button Controller : E
			*/
		</script>
</body>
</html>