<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/mobile/styles.css}" />

</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Happy Recipe K</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Introduce</a></li>
					<li><a href="/cooking/list">Class</a></li>
					<li><a href="#">Consultant</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
					<li sec:authorize="!isAuthenticated()"><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div layout:fragment="content">
			<!-- Your Page Content Here -->
		</div>
	</div>
	<!-- Login Modal : S -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<form action="home" th:action="@{/}" method="post" role="form">
				<!-- Modal Head : S -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Log in</h4>
				</div>
				<!-- Modal Head : E -->
				
				<!-- Modal Body : S -->
				<div class="modal-body">
						<div class="form-group">
							<div class="input-group">
								<input type="email" class="form-control" id="uLogin" placeholder="Login" name="username">
								<label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
							</div>
						</div>
	
						<div class="form-group">
							<div class="input-group">
								<input type="password" class="form-control" id="uPassword" placeholder="Password" name="password">
								<label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
							</div> <!-- /.input-group -->
						</div>
	
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
				</div>
				<!-- Modal Body : E -->
				
				<!-- Modal Footer : S -->
				<div class="modal-footer">
					<button class="form-control btn btn-primary" id="btnLogin">Ok</button>
				</div>
				<div class="modal-footer">
					<div style="text-align: center;">
						<h5>SNS Login</h5>
					</div>
					<div style="float: left;">
						<a th:href="@{'/login/google'}">
							<img alt="" th:src="@{'/assets/img/google_signin_buttons/ios/1x/btn_google_light_normal_ios.png'}">
						</a>
					</div>
				</div>
				<!-- Modal Footer : S -->
				</form>
			</div>
		</div>
	</div>
	<!-- Login Modal : E -->
	<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>
	<th:block layout:fragment="custom_script"></th:block>
	<footer>
		<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"
							target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
					<p class="h6">&copy All right Reversed.<a class="text-black ml-2" href="#">Happy Recipe K</a></p>
				</div>
			</div>
	</footer>
</body>
</html>
