@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family:bebas nenu;
	src:url("/assets/fonts/woff-cffbased/BebasNeue-Regular.woff")
}
body {
	font-family: "bebas nenu";
}

@media all and(min-device-width: 320px) and (max-device-width: 1024px){
	#sidebar-wrapper {
		z-index: 1;
		position: absolute;
		width: 0px;
		height: 100%;
		overflow-y: hidden;
		background: #262626;
		opacity: 0.9;
		transition: all .5s;
		display: flex;
	}
}

/* Sidebar */
#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 50px;
	height: 100%;
	overflow-y: hidden;
	background: #262626;
	opacity: 0.9;
	transition: all .5s;
	display: flex;
	/* align-items:center; */
}

/* Main Content */
#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding-left: 50px;
	transition: all .5s;
}

#menu-toggle {
	transition: all .3s;
	font-size: 2em;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
	width: 150px;
}

#wrapper.menuDisplayed #page-content-wrapper {
	padding-left: 150px;
}

/* Sidebar styling */
.sidebar-nav {
	padding: 0;
	list-style: none;
	transition: all .5s;
	width: 100%;
	text-align: center;
}

.sidebar-nav li {
	line-height: 40px;
	width: 100%;
	transition: all .3s;
	padding: 10px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li:hover {
	background: #7b98c4;
}

#sticky-footer {
	flex-shrink: none;
}