<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K - Contents</title>
<th:block layout:fragment="custom_css">
	<style>
		
	</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1 id="">About Happy Recipe K</h1>
				</div>
				<div class="col-md-8">
					<div class="row" style="height: 100%;">
						<div class="col-md-4"></div>
						<div class="col-md-8" style="height: 100%;" th:if="${not #strings.isEmpty(content.contentYoutube)}" th:utext="${content.contentYoutube}"></div>
					</div>
					
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-8" style="height: 100%;" th:if="${not #strings.isEmpty(content.contentOther)}" th:utext="${content.contentOther}"></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-4">
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								product 1
							</div>
							<div>
								product 1 title
							</div>
						</div>
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								product 2
							</div>
							<div>
								product 2 title
							</div>
						</div>
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								product 3
							</div>
							<div>
								product 3 title
							</div>
						</div>
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								product 4
							</div>
							<div>
								product 4 title
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								side bar 1
							</div>
							<div>
								side bar 1 title
							</div>
						</div>
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								side bar 1
							</div>
							<div>
								side bar 1 title
							</div>
						</div>
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								side bar 1
							</div>
							<div>
								side bar 1 title
							</div>
						</div>
						<div class="col-md-12" style="border:1px solid;">
							<div style="height: 200px">
								side bar 1
							</div>
							<div>
								side bar 1 title
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
		<script>
		</script>
	</th:block>
</body>
</html>