<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K - Contents</title>
<th:block layout:fragment="custom_css">
	<style>
		
	</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1 id="" th:text="'Happy Recipe K -' + ${content.contentTitle}"></h1>
				</div>
				<div class="col-md-8">
					<div class="row" style="height: 100%;">
						<div class="col-md-4"></div>
						<div class="col-md-8" style="height: 100%;" th:if="${not #strings.isEmpty(content.contentYoutube)}" th:utext="${content.contentYoutube}"></div>
					</div>
					
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-8" style="height: 100%;" th:if="${not #strings.isEmpty(content.contentOther)}" th:utext="${content.contentOther}"></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-8">
						<div class="col-md-12" th:each="list : ${contents}">
							<div  class="col-md-4" style="margin-top: 5px;border: 3px solid;height: 100px; padding: 0;" id="otherContents">
								<a th:href="@{/content/}+${list.categoryLowCode}+'/'+${list.contentSeq}">
									<img th:src="${list.fileInfo.commonFileThumbWebUrl}+${list.fileInfo.commonFileCopyName}" 
									style="width: 100%;height: 100%;"/>
								</a>
							</div>
							<div th:text="${#strings.abbreviate(list.contentTitle, 40)}" 
							class="col-md-8"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
		<script>
			$(document).ready(function(){
				var count = $("div[id*=otherContents]").length;
				
				for(var i = 0; i < count; i++){
					var colorCode = "#"+Math.round(Math.random() * 0xffffff).toString(16);
					$("div[id*=otherContents]").eq(i).css("border-color", colorCode);
				}
			});
		</script>
	</th:block>
</body>
</html>