<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K</title>
<th:block layout:fragment="custom_css">

</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<h4 th:text="'Happy Recipe K - '+${category.commonLowCodeName}"></h4>
			</div>
			<div class="col-md-12" th:each="content : ${contensts}">
				<div class="col-md-2" th:each="list : ${content}">
					<div style="height: 300px">
						<a th:href="@{/content/}+${list.categoryLowCode}+'/'+${list.contentSeq}">
							<img th:src="${list.fileInfo.commonFileThumbWebUrl}+${list.fileInfo.commonFileCopyName}" style="width: 100%;height: 100%;"/>
						</a>
					</div>
					<h5><a th:href="@{/content/}+${list.categoryLowCode}+'/'+${list.contentSeq}" th:text="${#strings.abbreviate(list.contentTitle, 20)}"></a></h5>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
	</th:block>
	<!-- Custom Script  : E -->
</body>
</html>