<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security"
	layout:decorator="layout/pc/default">
<head>
<title>Happy Recipe K - Blog</title>
<th:block layout:fragment="custom_css">
	<style>
		
	</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="content">
		<!-- Section Header : S -->
		<div class="section section-header" style="height: 250px;">
			<div class="parallax filter filter-color-black" style="height: 100%;">
	            <div class="image">
	            </div>
	            <div class="container">
	                <div class="content">
	                    <div class="title-area">
	                        <h1 class="title-modern">Happy Recipe K</h1>
	                        <p>Fukuoka Life Story - Happy Recipe K</p>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1 id="">Fukuoka Life Story</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" th:each="blog : ${list}" th:onclick="'openClassModal(\'' + ${blog.blogSeq} + '\')'">
					<div class="col-md-12">
						<div class="col-md-6">
							<h4 th:text="${#strings.abbreviate(blog.blogTitle, 25)}"></h4>
						</div>
						<div class="col-md-6 text-right">
							<h6 th:text="${#strings.abbreviate(blog.registerDate, 25)}"></h6>
						</div>
						<div class="page-header">
						</div>
					</div>
					<div class="col-md-12">
						<div th:utext="${blog.blogContent}"></div>
					</div>
				</div>
			</div>
			<nav style="text-align: center;">
			    <ul class="pagination"
			        th:with="start=${T(Math).floor(list.number/10)*10 + 1},
			                    last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">
			        <li>
			            <a th:href="@{/blog/list(page=1)}" aria-label="First">
			                <span aria-hidden="true">First</span>
			            </a>
			        </li>
			
			        <li th:class="${list.first} ? 'disabled'">
			            <a th:href="${list.first} ? '#' :@{/blog/list(page=${list.number})}" aria-label="Previous">
			                <span aria-hidden="true">&lt;</span>
			            </a>
			        </li>
			
			        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == list.number + 1} ? 'active'">
			            <a th:text="${page}" th:href="@{/blog/list(page=${page})}"></a>
			        </li>
			
			        <li th:class="${list.last} ? 'disabled'">
			            <a th:href="${list.last} ? '#' : @{/blog/list(page=${list.number + 2})}" aria-label="Next">
			                <span aria-hidden="true">&gt;</span>
			            </a>
			        </li>
			
			        <li>
			            <a th:href="@{/blog/list(page=${list.totalPages})}" aria-label="Last">
			                <span aria-hidden="true">Last</span>
			            </a>
			        </li>
			    </ul>
			</nav>
		</div>
	</div>
	<th:block layout:fragment="custom_script">
		<script>
		</script>
	</th:block>
</body>
</html>